
@{
    ViewData["Title"] = "AnkaraPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4" style="margin-top:25px">
            <div class="alert alert-success">
                Ankara sayfasına hoşgeldiniz
            </div>
        </div>
    </div>
</div>

