
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-4">
            <h1>30 gün boyunca ücretsiz olarak bu sayfayı görebilirsiniz.</h1>
        </div>
    </div>
</div>

