@model List<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "Claims";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Claims</h2>
<hr />
<table class="table table-bordered table-striped">
    <thead></thead>
    <tr>
        <th>Kim</th>
        <th>Dağıtıcı</th>
        <th>Ad</th>
        <th>Değer</th>
    </tr>
    <tbody>
        @foreach (System.Security.Claims.Claim item in Model)
        {
            <tr>
                <td>@item.Subject.Name</td>
                <td>@item.Issuer</td>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>

        }
    </tbody>

</table>