
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>E-posta adresinizi doğraladığınız için teşekkür ederiz. Lütfen buradan giriş yapınız.</h3>
<a href="/Account/Login">Giriş Yap.</a>

