
@{
    ViewData["Title"] = "EmailConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-2">
            <h2>@ViewBag.status</h2>
        </div>
    </div>
</div>

