
@{
    ViewData["Title"] = "EmailComfirmError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-lg-6" style="text-align:left">
            @if (ViewBag.ErrorTitle != null)
            {
                <h5 class="text-danger">@ViewBag.ErrorTitle</h5>

            }

        </div>
    </div>
</div>

