
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<hr />

<div class="col-md-4 offset-md-4">
    <h6>Şifreniz sıfırlandı. Lütfen giriş yapmak için <a asp-action="Login" asp-controller="Account">buraya tıklayınız.</a></h6>
</div>

