@model AppUserLoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mx-auto" style="width:520px; margin-top:40px;">

    <div class="card-body">
        <h4 class="card-title mb-4">Kullanıcı Giriş</h4>
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Kullanıcı Adı" type="text">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div> <!-- form-group// -->
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Şifre" type="password">
                <span asp-validation-for="Password" class="text-danger"></span>

            </div> <!-- form-group// -->

            <div class="form-group">
                <a asp-action="ForgotPassword" asp-controller="Account" class="float-right">Şifremi unuttum?</a>

            </div>
            <div class="form-group">
                <label class="float-left custom-control custom-checkbox">
                    <input type="checkbox" asp-for="RememberMe" class="custom-control-input">
                    <div class="custom-control-label"> Beni Hatırla </div>
                </label>
            </div><!-- form-group form-check .// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Giriş Yap  </button>

            </div> <!-- form-group// -->
        </form>
        <a class="btn btn-info btn-block" asp-action="FacebookLogin" asp-controller="Account">Facebook ile giriş yap</a>
        <a class="btn btn-danger btn-block" asp-action="GoogleLogin" asp-controller="Account">Google ile giriş yap</a>
        <a class="btn btn-success btn-block" asp-action="TwitterLogin" asp-controller="Account">Twitter ile giriş yap</a>

    </div>

</div>