@model IEnumerable<Post>
@{
    ViewData["Title"] = "Blog Sayfası";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <a asp-action="Create" asp-controller="Post" class="btn btn-success float-right">Makale Ekle</a>
    </div>
    <div class="card-body">
        <table id="producttable" class="table table-striped">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>Metin</th>

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var p in Model)
            {

                <tbody>
                    <tr>
                        <td><img src="~/images/@p.ImagePath" style="width:50px; height:50px" /></td>
                        <td>@p.Title</td>

                        <td style="display:-webkit-box; -webkit-line-clamp:2;-webkit-box-orient: vertical; overflow:hidden">@p.Body</td>

                        <td>
                            <a asp-action="Edit" asp-controller="Post" asp-route-id="@p.ID" class="btn btn-sm btn-warning">Düzenle</a>


                        </td>
                        <td> <a asp-action="Delete" asp-controller="Post" asp-route-id="@p.ID" class=" btn btn-sm btn-danger">Sil</a></td>
                    </tr>
                </tbody>

            }

        </table>
    </div>
</div>


